@tailwind base;
@tailwind components;
@tailwind utilities;


.upload-box {
    border: 1px dashed white;
    border-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.2));
    border-image-slice: 1;
  }
  
  