@tailwind base;
@tailwind components;
@tailwind utilities;


.upload-box {
    border: 1px dashed white;
    border-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.2));
    border-image-slice: 1;
  }
  
  .input-field {
    @apply w-full p-3 rounded-lg border border-white/30 bg-transparent 
           text-white text-sm outline-none
           focus:ring-2 focus:ring-rose-400;
  }
  
  .error {
    @apply text-red-400 text-xs mt-1;
  }
  
  @keyframes fadeUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fadeUp {
    animation: fadeUp .8s ease-out forwards;
  }
  